.section-5__title{
    @extend %section_title;
    width: 190px;
    line-height: 30px;
    padding-left: 17px;    

    @media (min-width: 768px){        
        margin-left: 50px;
        width: 545px;
        padding-left: 0;
    }

    @media (min-width: 1200px){
        margin-left: 0;
        width: 700px;
    }
}

.section-5__articles{
    padding-top: 50px;

    @media (min-width: 1200px){
        display: flex;
        flex-wrap: wrap;
    }
}

.section-5__text{
    font-size: 14px;
}
