%Acrom_Thin {
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: 100;
	font-style: normal;
}

%Acrom_Light {
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: 300;
	font-style: normal;
}

%Acrom_Regular {
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: 400;
	font-style: normal;
}

%Acrom_Medium {
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: 500;
	font-style: normal;
}

%Acrom_Bold {
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: 700;
	font-style: normal;
}

%Acrom_ExtraBold {
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: 800;
	font-style: normal;
}
