%section_sub_title {
    @extend %Acrom_ExtraBold;
    font-size: 16px;
    color: $primary-font-color;
    line-height: 24px;
    background-color: $primary-bg-color;
    display: inline-block;    
    

    &::before {
        content: '\005B';
        display: inline-block;
        margin-right: 8px;
        margin-left: 4px;
    }

    &::after {
        content: '\005D';
        display: inline-block;
        margin-left: 8px;
        margin-right: 4px;
    }    
}